# Cleaning

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df_references = pd.read_csv('/content/cross_reference.csv', error_bad_lines=False)
df_references['verse'] = df_references['verse'].astype(str)
df_references['ref'] = df_references['ref'].astype(str)
df_references['verse'] = df_references['verse'].str.zfill(8)
df_references['ref'] = df_references['ref'].str.zfill(8)

In [ ]:
rank10 = df_references[df_references['rank'] >= 10]
rank10[['verse','ref']].to_csv('cross_reference_r10.csv', index=False)

final = rank10[['verse','ref']].copy()

# Translating verses IDs

In [ ]:
import pandas as pd

books = pd.read_csv('books.csv')
books.columns = ['number', 'book', 'testament', 'field']
books = books[['number', 'book']].copy()
books['number'] = books['number'].astype(str)
books['number'] = books['number'].str.zfill(2)
books.head()

  number         book
0     01      Genesis
1     02       Exodus
2     03    Leviticus
3     04      Numbers
4     05  Deuteronomy

In [ ]:
books_dict = {}

for row in books.itertuples():
    books_dict[getattr(row, 'number')] = getattr(row, 'book')

books_dict

{'01': 'Genesis',
 '02': 'Exodus',
 '03': 'Leviticus',
 '04': 'Numbers',
 '05': 'Deuteronomy',
 '06': 'Joshua',
 '07': 'Judges',
 '08': 'Ruth',
 '09': '1 Samuel',
 '10': '2 Samuel',
 '11': '1 Kings',
 '12': '2 Kings',
 '13': '1 Chronicles',
 '14': '2 Chronicles',
 '15': 'Ezra',
 '16': 'Nehemiah',
 '17': 'Esther',
 '18': 'Job',
 '19': 'Psalms',
 '20': 'Proverbs',
 '21': 'Ecclesiastes',
 '22': 'Song of Solomon',
 '23': 'Isaiah',
 '24': 'Jeremiah',
 '25': 'Lamentations',
 '26': 'Ezekiel',
 '27': 'Daniel',
 '28': 'Hosea',
 '29': 'Joel',
 '30': 'Amos',
 '31': 'Obadiah',
 '32': 'Jonah',
 '33': 'Micah',
 '34': 'Nahum',
 '35': 'Habakkuk',
 '36': 'Zephaniah',
 '37': 'Haggai',
 '38': 'Zechariah',
 '39': 'Malachi',
 '40': 'Matthew',
 '41': 'Mark',
 '42': 'Luke',
 '43': 'John',
 '44': 'Acts',
 '45': 'Romans',
 '46': '1 Corinthians',
 '47': '2 Corinthians',
 '48': 'Galatians',
 '49': 'Ephesians',
 '50': 'Philippians',
 '51': 'Colossians',
 '52': '1 Thessalonians',
 '53': '2 Thessalonians',
 '54': '1 Timothy',
 '55': '2 Timothy',
 '56': 'Titus',
 '57': 'Philemon',
 '58': 'Hebrews',
 '59': 'James',
 '60': '1 Peter',
 '61': '2 Peter',
 '62': '1 John',
 '63': '2 John',
 '64': '3 John',
 '65': 'Jude',
 '66': 'Revelation'}

In [ ]:
def translate_vid(vid):
    return f"{books_dict[vid[:2]]} {int(vid[2:5])}:{int(vid[5:])}"

In [ ]:
final['verse'] = final['verse'].apply(translate_vid)
final['ref'] = final['ref'].apply(translate_vid)

In [ ]:
final.to_csv('translated_references.csv', index=False)

# Finding books in communities

In [ ]:
import pandas as pd 

# Using data generated after editions on gephi 
df_pg = pd.read_csv('/content/posgephi.csv')

In [ ]:
df_pg.head()

                   Id               Label  ...  weighted outdegree  weighted degree
0         Genesis 1:1         Genesis 1:1  ...                  68               69
1        Exodus 20:11        Exodus 20:11  ...                   0                2
2  1 Chronicles 16:26  1 Chronicles 16:26  ...                   0                1
3        Nehemiah 9:6        Nehemiah 9:6  ...                   0                1
4            Job 38:4            Job 38:4  ...                   0                1

[5 rows x 7 columns]

In [ ]:
for community in df_pg['modularity_class'].value_counts().index[:5]:
  selection = df_pg[df_pg['modularity_class'] == community].copy()
  selection['Label'] = selection['Label'].str.replace('1', ' ')
  selection['book'] = selection['Label'].str.split().str.get(0)
  print("Community number:", community)
  print(selection['book'].unique(), "\n")

Community number: 69
['Samuel' 'Kings' 'Isaiah' 'Jeremiah' 'Luke' 'John' 'Micah' 'Psalms'
 'Zephaniah' 'Job' 'Ezekiel' 'Hosea' 'Joel' 'Amos' 'Zechariah'
 'Revelation' 'Haggai' 'Matthew']

Community number: 4
['Psalms' 'Genesis' 'Deuteronomy' 'Joshua' 'Kings' 'Isaiah' 'Jeremiah'
 'Hebrews' 'Exodus' 'Chronicles' '2' 'Romans' 'Revelation' 'Job' 'Micah'
 'Jonah' 'Proverbs' 'Luke' 'John' 'Daniel' 'Ezekiel' 'Matthew' 'Numbers'
 'Samuel' 'Philippians' 'Timothy' 'Ephesians']

Community number: 33
['Genesis' '2' 'Ephesians' 'Colossians' 'Matthew' 'Proverbs' 'Psalms'
 'Isaiah' 'Jeremiah' 'Hebrews' 'Peter' 'Romans' 'Luke' 'Ecclesiastes'
 'Corinthians' 'Job' 'Ezekiel' 'Revelation' 'John' 'Galatians' 'Leviticus'
 'Thessalonians' 'James' 'Titus' 'Acts' 'Philippians' 'Chronicles' 'Mark'
 'Jude' 'Timothy']

Community number: 63
['Genesis' 'Exodus' 'Chronicles' 'Nehemiah' 'Job' 'Psalms' 'Proverbs'
 'Isaiah' 'Jeremiah' 'Zechariah' 'Mark' 'John' 'Acts' 'Romans'
 'Corinthians' 'Ephesians' 'Colossians' 'Hebrews' '2' 'Revelation'
 'Matthew' 'Luke' 'Deuteronomy' 'Hosea' 'Numbers' 'Philippians' 'Titus'
 'Timothy']

Community number: 32
['Genesis' 'Corinthians' 'Leviticus' 'Jeremiah' '2' 'Deuteronomy'
 'Matthew' 'Mark' 'Luke' 'John' 'Ezekiel' 'Micah' 'Proverbs' 'Psalms'
 'Acts' 'Titus' 'Peter' 'Zechariah' 'Hebrews' 'Isaiah' 'Hosea' 'Romans'
 'Revelation' 'James' 'Exodus' 'Galatians' 'Ephesians' 'Thessalonians']